{% extends 'base.html' %}


{% load static %}

{% block title %}


{% endblock%}

{% block content%}
<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__item set-bg" data-setbg="/static/img/hero/my_pic.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <span>Full stack Website Design and Development</span>
                            <h2>Md Kamrul Hasan Arif</h2>

                            <a href="#" class="primary-btn">See more about me</a><br>

                        </div>
                        <br>
                        <a href="https://github.com/Arifringalalfa/Mdkamrul_hasanArif_Resume.git"
                            class="btn btn-dark btn-outline-primary">Download Resume</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__item set-bg" data-setbg="/static/img/hero/web_2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <span>For Website Design and Development</span>
                            <h2>Md Kamrul Hasan Arif</h2>
                            <a href="#" class="primary-btn">See more about me</a>
                        </div>
                        <br>
                        <a href="https://github.com/Arifringalalfa/Mdkamrul_hasanArif_Resume.git"
                            class="btn btn-dark btn-outline-primary">Download Resume</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__item set-bg" data-setbg="/static/img/hero/my_pic.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <span>For Website Design and Development</span>
                            <h2>Md Kamrul Hasan Arif</h2>
                            <a href="#" class="primary-btn">See more about me</a>
                        </div>
                        <br>
                        <a href="https://github.com/Arifringalalfa/Mdkamrul_hasanArif_Resume.git"
                            class="btn btn-dark btn-outline-primary">Download Resume</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__item set-bg" data-setbg="/static/img/hero/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <span>For Website Design and Development</span>
                            <h2>Md Kamrul Hasan Arif</h2>

                            <a href="{% url 'about' %}" class="primary-btn">See more about me</a>
                        </div>
                        <br>
                        <a href="https://github.com/Arifringalalfa/Mdkamrul_hasanArif_Resume.git"
                            class="btn btn-dark btn-outline-primary">Download Resume</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="services__title">
                    <div class="section-title">
                        <span>My services</span>
                        <h2>What I do?</h2>
                    </div>
                    <p>If you hire me, you will get a Web Designer and developer with make a custom
                        website, wordpress developer, front-end and back-end developer, e-commerce and
                        wo-commerce website for your business and, once the project is over. <br>
                        I enjoy creating modern web applications. I have Deep knowledge and work with HTML 5, CSS 3,
                        Bootstrap, JSX, JavaScript, Python, Django. I also have Knowledge and proficiency with
                        Bootstrap,
                        Material-UI, and server-side NodeJS, Express JS, MongoDB, Postgresql, Mysql.
                        SOFT SKILLS.
                        <br>
                        ✵Expertise - JavaScript, REST API, React Bootstrap, Material-UI, Bootstrap4, HTML5, CSS3,
                        Python, Django, Tailwind CSS.
                        ✵Comfortable - Python, Django, MongoDB, JSON, SCSS, Context API.
                        ✵Familiar – React-Redux, Figma, Adobe Photoshop, AngularJS, Typescript, Tailwind CSS, Tableau.
                        ✵Beginner- PHP, Basic C Programming.
                        ✵Tools- GitHub, Firebase, Netlify, Heroku, Create React App, NPM, VS Code, Chrome Dev tools,
                        Brackets, Jira, Trello , GitLab.
                        <br>
                        and I also completed my full graphics design courses. I am good at:
                        * Adobe Photoshop * Adobe Illustrator * Retouching * Photo Editing
                        * Background Remove * Visiting Card * Banners * Posters
                        * Logo Design * Flyer * T-shirt Design * Packaging * Wrapping * Creating Add
                        <br>
                        ‘Imaginative and diligent graphic designer with a couple of years experience, exceptional
                        attention to detail, and a
                        passion for delivering projects on time. Well-versed with most programs within the Adobe
                        Creative Suite,
                        particularly InDesign and Photoshop. Effective time-management and problem-solving skills,
                        allowing the
                        completion of projects with minimal supervision and maximum cooperation with other members
                        within a team.
                    </p>
                    <a href="{% url 'services' %}" class="primary-btn">View all services</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="/static/img/icons/si-1.png" alt="">
                            </div>
                            <h4>Python-Django Developer</h4>
                            <p>Strong proficiency with Python 3.6+, Django Rest Framework, and Pandas
                                Previous experience building scalable REST APIs
                                Proficient in working with SQL and NoSQL database solutions such as PostgreSQL and
                                MongoDB
                                Previous experience with popular libraries such as rq, django-haystack, pymongo, pytest
                                Basic DevOps skills - bash, shell, provisioning solutions like SaltStack
                                Understanding fundamental design principles behind a scalable application
                                Understanding the nature of asynchronous programming and its quirks and workarounds
                                Large data set ingestion</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="/static/img/icons/si-1.png" alt="">
                            </div>
                            <h4>Web Development</h4>
                            <p>Developing front end website architecture.
                                Designing user interactions on web pages.
                                Developing back-end website applications.
                                Creating servers and databases for functionality.
                                Ensuring cross-platform optimization for mobile phones.
                                Ensuring responsiveness of applications.
                                Working alongside graphic designers for web design features.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="/static/img/icons/si-1.png" alt="">
                            </div>
                            <h4>Wordpress Developer</h4>
                            <p>Meeting with clients to discuss website design and function.
                                Designing and building the website front-end.
                                Creating the website architecture.
                                Designing and managing the website back-end including database and server integration.
                                Generating WordPress themes and plugins.
                                Conducting website performance tests.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="/static/img/icons/si-1.png" alt="">
                            </div>
                            <h4>xFull Stack Developer</h4>
                            <p>Conceptualizing creative ideas with clients.
                                Testing and improving the design of the website.
                                Establishing design guidelines, standards, and best practices.
                                Maintaining the appearance of websites by enforcing content standards.
                                Designing visual imagery for websites and ensuring that they are in line with branding
                                for
                                clients.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="/static/img/icons/si-1.png" alt="">
                            </div>
                            <h4>Graphics Designer</h4>
                            <p>I also completed my full graphics design courses. I am good at:
                                * Adobe Photoshop * Adobe Illustrator * Retouching * Photo Editing
                                * Background Remove * Visiting Card * Banners * Posters
                                * Logo Design * Flyer * T-shirt Design * Packaging * Wrapping * Creating Add</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="/static/img/icons/si-1.png" alt="">
                            </div>
                            <h4>Website create</h4>
                            <p>Developing front end website architecture.
                                Designing user interactions on web pages.
                                Developing back-end website applications.
                                Creating servers and databases for functionality.
                                Ensuring cross-platform optimization for mobile phones.
                                Ensuring responsiveness of applications..</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="/static/img/icons/si-1.png" alt="">
                            </div>
                            <h4>Web Designer</h4>
                            <p>Developing front end website architecture.
                                Designing user interactions on web pages.
                                Developing back-end website applications.
                                Creating servers and databases for functionality.
                                Ensuring cross-platform optimization for mobile phones.
                                Ensuring responsiveness of applications..</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="services__item">
                            <div class="services__item__icon">
                                <img src="/static/img/icons/si-1.png" alt="">
                            </div>
                            <h4>Web Designer</h4>
                            <p>Developing front end website architecture.
                                Designing user interactions on web pages.
                                Developing back-end website applications.
                                Creating servers and databases for functionality.
                                Ensuring cross-platform optimization for mobile phones.
                                Ensuring responsiveness of applications..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->

<!-- Work Section Begin -->
<section class="work">
    <div class="work__gallery">
        <div class="grid-sizer"></div>
        <div class="work__item wide__item set-bg" data-setbg="/static/img/work/work-1.jpg">
            <a href="#" class="play-btn video-popup"><i class="fa fa-play"></i></a>
            <div class="work__item__hover">
                <h4>VIP Auto Tires & Service</h4>
                <ul>
                    <li>eCommerce</li>
                    <li>Magento</li>
                </ul>
            </div>
        </div>
        <div class="work__item small__item set-bg" data-setbg="/static/img/work/work-2.jpg">
            <a href="#" class="play-btn video-popup"><i class="fa fa-play"></i></a>
        </div>
        <div class="work__item small__item set-bg" data-setbg="/static/img/work/work-3.jpg">
            <a href="#" class="play-btn video-popup"><i class="fa fa-play"></i></a>
        </div>
        <div class="work__item large__item set-bg" data-setbg="/static/img/work/work-4.jpg">
            <a href="#" class="play-btn video-popup"><i class="fa fa-play"></i></a>
            <div class="work__item__hover">
                <h4>VIP Auto Tires & Service</h4>
                <ul>
                    <li>eCommerce</li>
                    <li>Magento</li>
                </ul>
            </div>
        </div>
        <div class="work__item small__item set-bg" data-setbg="/static/img/work/work-5.jpg">
            <a href="#" class="play-btn video-popup"><i class="fa fa-play"></i></a>
        </div>
        <div class="work__item small__item set-bg" data-setbg="/static/img/work/work-6.jpg">
            <a href="#" class="play-btn video-popup"><i class="fa fa-play"></i></a>
        </div>
        <div class="work__item wide__item set-bg" data-setbg="/static/img/work/work-7.jpg">
            <a href="#" class="play-btn video-popup"><i class="fa fa-play"></i></a>
            <div class="work__item__hover">
                <h4>VIP Auto Tires & Service</h4>
                <ul>
                    <li>eCommerce</li>
                    <li>Magento</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Work Section End -->

<!-- Counter Section Begin -->
<section class="counter">
    <div class="container">
        <div class="counter__content">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <div class="counter__item__text">
                            <img src="/static/img/icons/ci-1.png" alt="">
                            <h2 class="counter_num">230</h2>
                            <p>Compled Projects</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item second__item">
                        <div class="counter__item__text">
                            <img src="/static/img/icons/ci-2.png" alt="">
                            <h2 class="counter_num">297</h2>
                            <p>Happy clients</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item third__item">
                        <div class="counter__item__text">
                            <img src="/static/img/icons/ci-3.png" alt="">
                            <h2 class="counter_num">135</h2>
                            <p>Perspective clients</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter__item four__item">
                        <div class="counter__item__text">
                            <img src="/static//static//static//static/img/icons/ci-4.png" alt="">
                            <h2 class="counter_num">230</h2>
                            <p>Compled Projects</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter Section End -->

<!-- Team Section Begin -->
<section class="team spad set-bg" data-setbg="/static/img/team-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title team__title">
                    <span>Nice to meet</span>
                    <h2>Myself</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="team__item set-bg" data-setbg="/static/img/hero/img4.jpg">
                    <div class="team__item__text">
                        <h4>Md kamrul Hasan AriF</h4>
                        <p>Full Stack Web Developer</p>
                        <div class="team__item__social">
                            <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.Linkedin.com/in/md-kamrul-hasan-arif-06a5620b"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="https://www.dribble.com/mohammadarif9567494"><i class="fa fa-dribbble"></i></a>
                            <a href="https://github.com/Arifringalalfa"><i class="fa fa-instagram"></i></a>
                            <a href="https://github.com/Arifringalalfa"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="team__item team__item--second set-bg" data-setbg="/static/img/hero/img2.jpg">
                    <div class="team__item__text">
                        <h4>Md kamrul Hasan AriF</h4>
                        <p>Full Stack Web Developer</p>
                        <div class="team__item__social">
                            <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.Linkedin.com/in/md-kamrul-hasan-arif-06a5620b"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="https://www.dribble.com/mohammadarif9567494"><i class="fa fa-dribbble"></i></a>
                            <a href="https://github.com/Arifringalalfa"><i class="fa fa-instagram"></i></a>
                            <a href="https://github.com/Arifringalalfa"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="team__item team__item--third set-bg" data-setbg="/static/img/hero/img3.jpg">
                    <div class="team__item__text">
                        <h4>Md kamrul Hasan AriF</h4>
                        <p>Full Stack Web Developer</p>
                        <div class="team__item__social">
                            <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.Linkedin.com/in/md-kamrul-hasan-arif-06a5620b"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="https://www.dribble.com/mohammadarif9567494"><i class="fa fa-dribbble"></i></a>
                            <a href="https://github.com/Arifringalalfa"><i class="fa fa-instagram"></i></a>
                            <a href="https://github.com/Arifringalalfa"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                <div class="team__item team__item--four set-bg" data-setbg="/static/img/hero/img1.jpg">
                    <div class="team__item__text">
                        <h4>Md kamrul Hasan AriF</h4>
                        <p>Full Stack Web Developer</p>
                        <div class="team__item__social">
                            <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.Linkedin.com/in/md-kamrul-hasan-arif-06a5620b"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="https://www.dribble.com/mohammadarif9567494"><i class="fa fa-dribbble"></i></a>
                            <a href="https://github.com/Arifringalalfa"><i class="fa fa-instagram"></i></a>
                            <a href="https://github.com/Arifringalalfa"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 p-0">
                <div class="team__btn">
                    <a href="{% url 'about' %}" class="primary-btn">Meet Myself</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->

<!-- Latest Blog Section Begin -->
<section class="latest spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title center-title">
                    <span>My Blog</span>
                    <h2>Blog Update</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="latest__slider owl-carousel">
                <div class="col-lg-4">
                    <div class="blog__item latest__item">
                        <h4>What Makes Users Want to Share a Video on Social Media?</h4>
                        <ul>
                            <li>Sep 10, 2022</li>
                            <li>05 Comment</li>
                        </ul>
                        <p>We recently launched a new website for a Vital client and wanted to share some of the
                            cool features we were able...</p>
                        <a href="#">Read more <span class="arrow_right"></span></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog__item latest__item">
                        <h4>Bumper Ads: How to Tell a Story in 6 Seconds</h4>
                        <ul>
                            <li>Sep 10, 2022</li>
                            <li>05 Comment</li>
                        </ul>
                        <p>We recently launched a new website for a Vital client and wanted to share some of the
                            cool features we were able...</p>
                        <a href="#">Read more <span class="arrow_right"></span></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog__item latest__item">
                        <h4>What Makes Users Want to Share a Video on Social Media?</h4>
                        <ul>
                            <li>Sep 10, 2022</li>
                            <li>05 Comment</li>
                        </ul>
                        <p>We recently launched a new website for a Vital client and wanted to share some of the
                            cool features we were able...</p>
                        <a href="#">Read more <span class="arrow_right"></span></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog__item latest__item">
                        <h4>Bumper Ads: How to Tell a Story in 6 Seconds</h4>
                        <ul>
                            <li>Sep 10, 2022</li>
                            <li>05 Comment</li>
                        </ul>
                        <p>We recently launched a new website for a Vital client and wanted to share some of the
                            cool features we were able...</p>
                        <a href="#">Read more <span class="arrow_right"></span></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog__item latest__item">
                        <h4>What Makes Users Want to Share a Video on Social Media?</h4>
                        <ul>
                            <li>Sep 10, 2022</li>
                            <li>05 Comment</li>
                        </ul>
                        <p>We recently launched a new website for a Vital client and wanted to share some of the
                            cool features we were able...</p>
                        <a href="#">Read more <span class="arrow_right"></span></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog__item latest__item">
                        <h4>What Makes Users Want to Share a Video on Social Media?</h4>
                        <ul>
                            <li>Sep 10, 2022</li>
                            <li>05 Comment</li>
                        </ul>
                        <p>We recently launched a new website for a Vital client and wanted to share some of the
                            cool features we were able...</p>
                        <a href="#">Read more <span class="arrow_right"></span></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog__item latest__item">
                        <h4>What Makes Users Want to Share a Video on Social Media?</h4>
                        <ul>
                            <li>Sep 10, 2022</li>
                            <li>05 Comment</li>
                        </ul>
                        <p>We recently launched a new website for a Vital client and wanted to share some of the
                            cool features we were able...</p>
                        <a href="#">Read more <span class="arrow_right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Blog Section End -->

<!-- Call To Action Section Begin -->
<section class="callto spad set-bg" data-setbg="/static/img/callto-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="callto__text">
                    <h2>Fresh Ideas, Fresh Moments Giving Wings to your Stories.</h2>
                    <p>Ringal@Alfa, Best places to work 2022</p>
                    <a href="{% url 'services' %}">Start your work with me</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call To Action Section End -->
{% endblock %}
