{% extends 'base.html' %}


{% load static %}

{% block title %}


{% endblock%}

{% block content%}

<div class="breadcrumb-option spad set-bg" data-setbg="/static/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>My Sevices</h2>
                    <div class="breadcrumb__links">
                        <a href="{% url 'index' %}">Home</a>
                        <span>Services</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Services Section Begin -->
<section class="services-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <img src="/static/img/icons/si-1.png" alt="">
                    </div>
                    <h4>Full Stack Web Developer</h4>
                    <p>Developing front end website architecture.
                        Designing user interactions on web pages.
                        Developing back-end website applications.
                        Creating servers and databases for functionality.
                        Ensuring cross-platform optimization for mobile phones.
                        Ensuring responsiveness of applications.
                        Working alongside graphic designers for web design features.
                        Seeing through a project from conception to finished product.
                        Designing and developing APIs.
                        Meeting both technical and consumer needs.
                        Staying abreast of developments in web applications and programming languages.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <img src="/static/img/icons/si-1.png" alt="">
                    </div>
                    <h4>Web Designer</h4>
                    <p>Conceptualizing creative ideas with clients.
                        Testing and improving the design of the website.
                        Establishing design guidelines, standards, and best practices.
                        Maintaining the appearance of websites by enforcing content standards.
                        Designing visual imagery for websites and ensuring that they are in line with branding for
                        clients.
                        Working with different content management systems.
                        Communicating design ideas using user flows, process flows, site maps, and wireframes.
                        Incorporating functionalities and features into websites.
                        Designing sample pages including colors and fonts.
                        Preparing design plans and presenting the website structure.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <img src="/static/img/icons/si-1.png" alt="">
                    </div>
                    <h4>Web Development</h4>
                    <p>Web development fundamentals, including HTML, CSS, and JavaScript
                        Front-end JavaScript frameworks such as Vue, React, and Angular
                        Back-end frameworks such as Ruby on Rails, Node.js, and ASP.NET
                        Content management systems (CMSs) such as WordPress, Joomla, and Squarespace
                        UI/UX design experience
                        Working knowledge of graphic design
                        REST API development
                        Relational databases such as MySQL
                        Agile and test-driven development best practices</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <img src="/static/img/icons/si-1.png" alt="">
                    </div>
                    <h4>Python Django Developer</h4>
                    <p>Strong proficiency with Python 3.6+, Django Rest Framework, and Pandas
                        Previous experience building scalable REST APIs
                        Proficient in working with SQL and NoSQL database solutions such as PostgreSQL and MongoDB
                        Previous experience with popular libraries such as rq, django-haystack, pymongo, pytest
                        Basic DevOps skills - bash, shell, provisioning solutions like SaltStack
                        Understanding fundamental design principles behind a scalable application
                        Understanding the nature of asynchronous programming and its quirks and workarounds
                        Large data set ingestion
                        User authentication and authorization between multiple systems, servers, and environments
                        A knack for writing clean, readable, and easily maintainable code
                        Proficient understanding of code versioning tools such as Git
                        Understand complex concepts in solving problems
                        Suggest workflow process improvements and sustain self-organized agile teams
                        Mentoring other members of the team
                        Maintaining active communication with the customer to clarify the requirements and translate
                        them into technical user stories
                        A good leader, empathic and working independent
                        Able to assume different project roles: Product Owner, Scrum Master, Team Member
                        Excellent written and speaking English skills</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <img src="/static/img/icons/si-1.png" alt="">
                    </div>
                    <h4>E-commerce Website</h4>
                    <p> Write and edit product content that will be published on e-Commerce websites
                        Set standards, systems, and best practices for new product listings, content creation,
                        distribution, and maintenance.
                        Work closely with different teams (product management, graphics, sales) to provide updated
                        content that will be shared across e-Commerce platforms.
                        Provide support in other areas of Media Marketing, PPC, Email Marketing, SEO, Keyword Research,
                        Google Analytics, Website UX, and Paid Social Media.
                        Be a subject matter expert to assigned product categories.
                        Identify SEO best practices regarding inventory, pre-orders, and pricing policies.
                        Monitor changes in product sales by using web analytics and Excel spreadsheets (pivot tables,
                        vlookups, etc) to stay organized.
                        Ability to multitask and meet deadlines while maintaining attention to detail.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <img src="/static/img/icons/si-1.png" alt="">
                    </div>
                    <h4>Wordpress Developer</h4>
                    <p>Meeting with clients to discuss website design and function.
                        Designing and building the website front-end.
                        Creating the website architecture.
                        Designing and managing the website back-end including database and server integration.
                        Generating WordPress themes and plugins.
                        Conducting website performance tests.
                        Troubleshooting content issues.
                        Conducting WordPress training with the client.
                        Monitoring the performance of the live website.</p>
                </div>
            </div>
           
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <img src="/static/img/icons/si-1.png" alt="">
                    </div>
                    <h4>Blog-Website</h4>
                    <p>I also completed my full graphics design courses. I am good at:
                        * Adobe Photoshop * Adobe Illustrator * Retouching * Photo Editing
                        * Background Remove * Visiting Card * Banners * Posters
                        * Logo Design * Flyer * T-shirt Design * Packaging * Wrapping * Creating Add</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <img src="/static/img/icons/si-1.png" alt="">
                    </div>
                    <h4>Company Related Web Service</h4>
                    <p>Web development fundamentals, including HTML, CSS, and JavaScript
                        Front-end JavaScript frameworks such as Vue, React, and Angular
                        Back-end frameworks such as Ruby on Rails, Node.js, and ASP.NET
                        Content management systems (CMSs) such as WordPress, Joomla, and Squarespace
                        UI/UX design experience
                        Working knowledge of graphic design
                        REST API development
                        Relational databases such as MySQL
                        Agile and test-driven development best practices</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <img src="/static/img/icons/si-1.png" alt="">
                    </div>
                    <h4>Graphics Design</h4>
                    <p>I also completed my full graphics design courses. I am good at:
                        * Adobe Photoshop * Adobe Illustrator * Retouching * Photo Editing
                        * Background Remove * Visiting Card * Banners * Posters
                        * Logo Design * Flyer * T-shirt Design * Packaging * Wrapping * Creating Add</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->



{% endblock content %}
